
table
{

	margin: 20px;
	float: left;
}
caption
{
	text-align: center;
	font-size: 25px;
}
td,th{
	padding: 6px;
	text-align: center;
}

.control
{
	padding: 15px;
	border-bottom: 1px solid black;
	height: 60px;
	width: 100%;
	left: 0;
	top:0;
	background: rgb(245, 245, 245);
}
.control a,button
{

	margin-left: 20px;
}
p
{
	margin: 70px;
}

#distribute
{
	width: 300px;
	margin: 40px auto;
}
#add_student
{
	height: 100px;
	width: 200px;
	margin:30px  auto;
}
#message
{
	height: 50px;
	margin-bottom: 20px;
	text-align: center;
}